[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "Anime-Girls-Holding-Programming-Books"]
    path = Anime-Girls-Holding-Programming-Books
    url = <url-of-the-submodule-repository>